@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}
body{
    height: 100dvh;
}
.head{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    animation: slide 2s ease;
    background-color: rgb(207, 205, 205);
}

@keyframes slide {
    0%{
        opacity: 0;
        transform: scale(-5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.liste{
    display: flex;
    list-style: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color: black;
}

.item:hover{
    border-bottom: 2px solid violet;
}
.ins{
     width: 15%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: blueviolet;
    color: white;
    font-size: 80%;
    border: none;
    border-radius: 15px;
    transition: background-color 2s;
}
.ins:hover{
    background-color:blue ;
}
.mat{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/course-bg.jpg);
    background-size: cover;
    background-position: center;
}
.card{
    width: 20%;
    height: auto;
    background-color: white;
    align-items: center;
    border-radius: 15px;
}
.enf{
    width: 100%;
    height: 50%;
    border-radius: 15px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: rgb(44, 44, 92);
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 90%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}
.ex{
    padding: 5px;
}
summary{
    font-weight: bold;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.ic{
    width: 30px;
    height: 30px;
}
.center{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.insc{
    width: 120px;
    height: 30px;
    border: 1px solid black;
    background-color: red;
    color: white;
    border-radius: 10px;
}
@media(max-width:767px){
    .head{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .ins{
        width: 35%;
        height: 30px;
        gap: 5%;
    }
    .liste{
        font-size: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mat{
        margin-top: 3%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 0 30% 0;
        gap: 30px;
    }
    .card{
        width: 60%;
        height: auto;
        font-size: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .enf{
        width: 100%;
        height: 50%;
    }
    .ex{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        gap:40px;
    }
}