@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:  "League Spartan", sans-serif;
}
body{
    height: 100dvh;
}
.head{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    animation: slide 2s ease;
    background-color: rgb(207, 205, 205);
}

@keyframes slide {
    0%{
        opacity: 0;
        transform: scale(-5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.liste{
    display: flex;
    list-style: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color: black;
}

.item:hover{
    border-bottom: 2px solid violet;
}
.ins{
     width: 15%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: blueviolet;
    color: white;
    font-size: 80%;
    border: none;
    border-radius: 15px;
    transition: background-color 2s;
}
.ins:hover{
    background-color:blue ;
}
.pre{
    width: 100%;
    height: 100%;
    background-image: url(../images/slider-bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#vid{
    width: 360px;
    height: 360px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 20px 0 20px 0;
}
.about{
    text-align: center;
}
#about{
    width: 40%;
    height: 50%;
}
.mat{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/course-bg.jpg);
    background-size: cover;
    background-position: center;
}
.card{
    width: 20%;
    height: 80%;
    background-color: white;
    text-align: center;
    border-radius: 15px;
}
.enf{
    width: 100%;
    height: 70%;
    border-radius: 15px;
}
.ex{
    font-size: 70%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teach{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    background-image: url(../images/about-img.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 8%;
    padding-top: 10px;
}
.child{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
.chd{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(44, 44, 92);
    color: white;
}
.chd:hover{
    transform: scale(1.1) ;
    transition: 2s;
    border-radius: 15px;
}
.p:hover{
    transform: scale(1.1) ;
    transition: 2s;
}
.p{
    width: 20%;
    height: 100%;
}
.prof{
    width: 100%;
    height: 90%;
}
.nom{
    width: 100%;
    height: 10%;
}
.prof:hover{
    transition: 2s;
    border-radius: 15px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: rgb(44, 44, 92);
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 90%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.ic{
    width: 30px;
    height: 30px;
}
.center{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.insc{
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: red;
    color: white;  
    border-radius: 10px;
}
@media(max-width:767px){
    .head{
        width: 100%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .ins{
        width: 35%;
        height: 30px;
        gap: 5%;
    }
    .liste{
        font-size: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pre{
        width: 100%;
        background-image: url(/images/slider-bg.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    .info{
        display: flex;
        flex-direction: column;
    }
    .mat{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 0 30% 0;
        gap: 5%;
    }
    .card{
        width: 80%;
        height: 25%;
        font-size: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
    }
    .enf{
        width: 50%;
        height: 100%;
    }
    .teach{
        width: 100%;
        height: auto;
    }
    .child{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .chd{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    .prof{
        width: 50%;
        height: 100%;
    }
    .nom{
        width: 50%;
    }
    .p{
        width: 80%;
        height: 30%;
        display: flex;
        justify-content: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap:40px;
    }
}